// border
$border01:2px solid red;
$border02:2px solid green;
$border03:2px solid blue;
$border04:2px solid purple;

// size
$size01:100px;
$size02:200px;
$size03:300px;
$size04:400px;

// color
$color:red;